name: unit_tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Configure CMake
        run: mkdir build && cd build && cmake ..
      - name: Build execution file
        run: cmake --build .
      - name: Run Te
        run: ./gtests